.secret {
    @include adap(height, 2207, 2100, 2060);
    position: relative;
    &__bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
    &__content {
        @include adap(padding-top, 127, 90, 60, 40);
    }
    &__top {
        @include adap(padding-left, 30);
        @include adap(padding-right, 30);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        &-title {
            @include adap(margin-bottom, 45, 30);
            @include adap(font-size, 50, 45, 40);
            text-align: center;
            font-family: "DMb";
        }

        &-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-img {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        & .swiper {
            margin: 0;
            @include adap(margin-bottom, 28, 23, 16);
            @include adap(max-width, 1277);
            &-wrapper {
                display: flex;
                align-items: center;
            }

            &-slide {
                @include adap(max-width, 405);
                width: 100%;
            }
        }

        &-button-prev {
            position: absolute;
            @include adap(left, -64);
            @include adap(top, 117);
            background-color: initial;
        }
        &-button-next {
            position: absolute;
            @include adap(right, -64);
            @include adap(top, 117);
            background-color: initial;
        }

        &-pagination {
            max-width: max-content;
            .swiper-pagination-bullet {
                @include adap(height, 19, 19, 16);
                @include adap(width, 19, 19, 16);
                background-color: #85A3B2;
            }
            .swiper-pagination-bullet-active {
                background-color: #DD2242;
            }
        }
    }
    &__bottom {
        position: absolute;
        bottom: 0;
        @include adap(padding-top, 200, 140, 80, 40);
        @include adap(padding-left, 30);
        @include adap(padding-right, 30);
        @include adap(padding-bottom, 225, 170, 120, 70);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(2, 12, 33, 0.9);
        &-title {
            @include adap(margin-bottom, 37, 32, 27);
            @include adap(font-size, 60, 50, 40);
            font-family: "DMb";
            text-align: center;
            color: white;
        }
        &-text {
            @include adap(max-width, 480);
            @include adap(font-size, 18, 18, 16);
            line-height: 160%;
            text-align: center;
            color: rgb(224, 224, 224)
        }
        &-list {
            @include adap(margin-top, 40, 35, 30);
            display: flex;
            @include adap(gap, 100, 70, 40)
        }
        &-item {
            max-width: 340px;
        }
        &-number {
            margin-bottom: 19px;
            @include adap(font-size, 42, 42, 40);
            text-align: center;
            font-family: "DMb";
            color: rgb(221, 34, 66);
        }
    }
}

@media (max-width: 1440px) {
    .secret__top-button-prev,
    .secret__top-button-next {
        display: none !important;
    }
}


@media (max-width: 768px) {
    .secret {
        &__bottom {
            &-list {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 424px) {
    .secret {
        &__top {
            & .swiper {
                max-width: 100%;
                &-slide {
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            &-container {
                width: 100%;
            }
            &-img {
                max-width: 100%;
            }
        }
    }
}