.header {
    display: flex;
    align-items: center;
    @include adap(padding-top, 40);
    @include adap(padding-left, 30);
    @include adap(padding-right, 141, 120, 30);
    &__logo {
        @include adap(margin-right, 78, 78, 30);
        display: flex;
        align-items: end;
        width: max-content;
        @include adap(font-size, 23, 23, 20, 20);
        font-feature-settings: 'clig' off, 'liga' off;
        text-transform: uppercase;
        font-family: "Roboto";
        cursor: pointer;
        &::before {
            content: "";
            display: inline-block;
            @include adap(min-height, 49, 49, 42, 42);
            @include adap(min-width, 49, 49, 42, 42);
            background: url("../public/img/intro/flower.svg") center/ 100% no-repeat;
        }

        a {
            color: white;
        }
    }
    &__links {
        margin-right: auto;
        display: flex;
        @include adap(gap, 62, 62, 30);
    }
    &__link {
        font-family: "DMb";
        @include adap(font-size, 18);
        text-transform: uppercase;
        color: white;
        cursor: pointer;

        &:hover {
            outline: solid rgba(255, 255, 255, 0.308);
            @include adap(outline-width, 12);
            @include adap(border-radius, 7);
            background-color: rgba(255, 255, 255, 0.308);
        }
    }
    &__right {
        display: flex;
        @include adap(gap, 40, 40, 30, 15);
    }
    &__search {
        @include adap(height, 24);
        @include adap(width, 24);
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__menu {
        display: none;
    }
    &__menu-img {
        position: relative;
        z-index: 10;
    }

    &__menu-content {
        display: none;
        flex-direction: column;
        @include adap(gap, 40);
        @include adap(padding-top, 100);
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        background-color: #010A20;
        position: absolute;
        top: 0;
        left: 0;

        .header__link {
            @include adap(padding-left, 30);
            @include adap(font-size, 36);
            border-radius: 0;
        }
    }
    .menu-active .header__menu-content {
        display: flex !important;   
    }
}
.intro {
    @include adap(height, 1080);
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    &__content {
        @include adap(padding-top, 177, 120, 70, 45);
        @include adap(padding-left, 277, 120, 30);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__bg {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            object-position: bottom; 
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            background: linear-gradient(216deg, rgba(0, 0, 0, 0.31) 29.66%, rgba(0, 0, 0, 0.29) 84.2%);
        }
    }
    &__title {
        @include adap(margin-bottom, 21, 21, 8);
        @include adap(font-size, 120, 90, 70, 54);
        line-height: 108%;
        font-family: "Roboto";
        text-transform: uppercase;
        color: white;
    }
    &__button {
        @include adap(width, 270);
        @include adap(height, 82, 82, 82, 59);
        @include adap(border-radius, 211);
        @include adap(font-size, 20, 20, 20, 18);
        font-family: "DMb";
        color: white;
        background-color: #DD2242;
    }
    &__row-bottom {
        display: flex;
        align-items: end;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        @include adap(padding-top, 41);
        @include adap(padding-bottom, 41);
        @include adap(padding-left, 71, 71, 30);
        @include adap(padding-right, 71, 71, 30);
        height: max-content;
        @include adap(width, 1225);
        background: rgba(0, 0, 0, 0.6);
    }
    &__item {
        @include adap(width, 211);
        &-number {
            @include adap(margin-bottom, 14, 14, 4, 4);
            @include adap(font-size, 16);
            font-family: "Roboto";
            color: #DD2242;
        }
        &-title {
            @include adap(font-size, 26);
            line-height: 155%;
            font-family: "DMb";
            color: white;
        }
        &-description {
            @include adap(font-size, 18);
            line-height: 155%;
            font-family: "DMn";
            color: #939393;
        }
    }
    &__video {
        @include adap(max-width, 418, 418, 418, 314);
        width: 100%;
        @include adap(height, 254, 254, 254, 191);
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../public/img/intro/video.jpg") center/ 100% no-repeat;
    }
    &__play {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adap(height, 78);
        @include adap(width, 78);
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        img {
            width: 60%;
            height: auto;
        }
    }
}


@media (max-width:1440px) {
    .intro {
        height: max-content;
        &__content {
            @include adap(padding-right, 277, 120, 30);
            flex-grow: 0;
        }
        &__row-bottom {
            @include adap(margin-bottom, 40);
            @include adap(padding-right, 71, 71, 30);
            justify-content: space-between;
            align-items: center;
            background: rgba(0, 0, 0, 0.6);
        }
        &__items {
            padding-right: 0;
            width: auto;
            flex-direction: column;
            @include adap(gap, 32);
            background-color: initial;
        }
        
        &__center {
            @include adap(margin-bottom, 50);
        }
    }
}

@media (max-width:767px) {
    .header {
        &__logo {
            margin-right: auto;
        }
        &__links {
            display: none;
        }
        &__menu {
            display: block;
        }
    }
    .intro {
        &__content {
            @include adap(padding-right, 277, 120, 30);
            flex-grow: 0;
        }
        &__row-bottom {
            @include adap(padding-left, 0, 0, 41, 0);
            @include adap(padding-right, 0, 0, 41, 0);
            @include adap(padding-bottom, 0, 0, 41, 0);
            padding-right: 0;
            flex-direction: column;
        }
        &__items {
            padding-left: 0;
            width: auto;
            flex-direction: column;
            background-color: initial;
        }
    }
}
@media (max-width:425px) {
    .intro {
        &__button {
            width: 100%;
        }
    }
}