@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Black.eot') format('embedded-opentype'),
        url('../public/font/Roboto-Black.woff2') format('woff2'),
        url('../public/font/Roboto-Black.woff') format('woff'),
        url('../public/font/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMb';
    src: url('../public/font/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/font/DMSans-Bold.woff2') format('woff2'),
        url('../public/font/DMSans-Bold.woff') format('woff'),
        url('../public/font/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMn';
    src: url('../public/font/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/font/DMSans-Regular.woff2') format('woff2'),
        url('../public/font/DMSans-Regular.woff') format('woff'),
        url('../public/font/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
