.footer {
    &__content {
        @include adap(padding-left, 116, 60, 40, 30);
        @include adap(padding-right, 153, 70, 40, 30);
        @include adap(padding-top, 40, 40, 60, 120);
        @include adap(padding-bottom, 30, 30, 30, 75);
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        background-color: rgb(1, 10, 32);
    }
    &__name {
        @include adap(margin-right, 124, 60, 15);
        @include adap(width, 124);
        @include adap(font-size, 24);
        text-transform: uppercase;
        font-family: "Roboto";
        color: white;
        & span {
            color: rgb(221, 34, 66);
        }
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            @include adap(left, -45);
            @include adap(top, -5, -3);
            @include adap(min-height, 51);
            @include adap(min-width, 51);
            background: url("../public/img/intro/flower.svg") center/ 100% no-repeat;
        }
    }
    &__links {
        margin-right: auto;
        display: flex;
        @include adap(gap, 36, 20, 15, 36);
    }
    &__link {
        @include adap(font-size, 18, 18, 18, 23);
        font-family: "DMb";
        line-height: 160%;
        color: white;
        cursor: pointer;
    }
    &__socials {
        @include adap(margin-right, 50, 10);
        display: flex;
        @include adap(gap, 22, 10, 10, 48);
    }
    &__item {
        @include adap(height, 24, 24, 27, 31);
        @include adap(width, 24, 24, 27, 31);
        img {
            width: 100%;
            height: 100%;
        }
        cursor: pointer;
    }
    &__copyright {
        @include adap(font-size, 18, 18, 18, 24);
        line-height: 160%;
        font-family: "DMb";
        color: white;
    }
    &__button-up {
        @include adap(height, 104);
        @include adap(width, 104);
        @include adap(top, -54, -54, -54, -41);
        @include adap(right, 100);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: rgb(221, 34, 66);
        cursor: pointer;
        img {
            max-width: 40%;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__name {
            @include adap(margin-right, -40);
            @include adap(margin-bottom, 36);
        }
        &__links {
            @include adap(margin-bottom, 36);
            margin-right: 0;
            flex-direction: column;
            align-items: center;
        }
        &__socials {
            margin-right: 0;
            @include adap(margin-bottom, 36);
        }
        &__button-up {
            right: 50%;
            transform: translateX(50%);
        }
    }
}